* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14rem;
  width: 100%;
  background: url("https://wallpapercave.com/wp/wp1895390.jpg") no-repeat center
    center fixed;
}

/* For Preloading with animation */
.preloader {
  background: rgba(0, 0, 255, 1);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.preloader h2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeout 3s;
  color: #fff;
  transform: scale(2);
}

@keyframes fadeout {
  0% {
    opacity: 0;
    color: rgba(0, 0, 0, 0.3);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    color: #fff;
    transform: scale(2);
  }
}


/* normal content */
.common-section {
  background-color: rgba(0, 0, 255, 0.3);
  background-attachment: fixed;
}

h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
  padding-bottom: 3rem;
}

.upper-side {
  position: relative;
  width: 100%;
  height: 50rem;
  text-align: center;
  font-size: 8rem;
  color: #fff;
  padding-top: 15rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.manual-container {
  padding: 10px;
  width: 100%;
}

.card-management {
  width: 50%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: aliceblue;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 700px) {
  .manual-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .card-management {
    width: 20rem;
  }
}

@media screen and (min-width: 1000px) {
  .manual-container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .card-management {
    width: 20rem;
  }
}

@media screen and (min-width: 1300px) {
  .manual-container {
    padding-left: 20%;
    padding-right: 20%;
  }

  .card-management {
    width: 20rem;
  }
}

@media screen and (max-width: 700px) {
  .upper-side {
    font-size: 6rem;
  }

  h2 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .card-management {
    width: 100%;
  }

  .upper-side {
    font-size: 3rem;
  }
}
